*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 1440px;
    background-color: #fff;
    margin: auto;
    font-family: 'Anton', sans-serif;
    
}

header{
    display: flex;
}

header .logo{
    margin: 18px 16px;
}
ul{
    display: flex;
    justify-content: flex-end;
    width: 1333px;
}
li{
    list-style: none;
    margin: 0 16px;
    line-height: 86px;
}
li>a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.banner img{
    width: 100%;
}

.title h1{
    font-size: 48px;
    font-weight: Regular;
    margin: 64px 16px 32px;
}

.main-box{
    width: 100%;
    display: flex;
}

.box{
    height: 400px;
    width: 33%;
    margin: 0 15px 30px;
}
.box-img{
    width: 100%;
    height: 63%;
    overflow: hidden;
}
.box img{width: 100%;height: 100%;transition: 0.25s;}

.box:hover img{
    transform: scale(1.3);
}


.text-img p{
    margin: 16px 0;
    color: #FD4756;
    font-size: 16px;
    font-weight: bold;
}
.text-img a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.sub-banner img{
    width: 100%;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    margin-top: 16px;
}

footer p{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left:16px;
    float: left;
    line-height: 100px;
}

.btn{
    background-color: #FD4756;
    width: 180px;
    margin: 25px 16px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    float: right;
}
#icon{
    display: none;
}
/* moblie */
@media only screen and (max-width:740px){
    #icon{
        display: block;
        color: #000;
        font-size: 50px;
        line-height: 85px;
        position: absolute;
        right: 0;
        margin-right: 10px;
    }
    #wrapper{
        width: 100%;
    }
    header{
        width: 100%;
    }
    ul{
        transition: 0.25s;
        flex-direction: column;
        transform: scale(0.001);
        width: 100%;
        z-index: -10;
        margin-top: 86px;
        position: absolute;
        left: 0;
    }
    li{
        width: 100%;
        margin: 0;
        padding-left: 20px;
        background-color: #FD4756;
        border-bottom: 1px dashed black;
    }
    li a{font-size: 15px;}
    li:hover a{
        color: #fff;
    }

    .title h1{text-align: center;font-size: 20px;margin: 12px;}
    .main-box{
        width: 100%;
        margin: 0;
        flex-direction: column;
    }
    .text-img{margin-left: 16px;}
    .text-img p{font-size: 12px;}
    .text-img a{font-size: 15px;}
    .box{
        margin:20px 0;
        width: 100%;
        height: 100%;
    }
    footer{
        width: 100%;
    }
    footer p{
        margin: 0;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn{display: block;width: 100%;margin:0;border-radius: 0;position: fixed;bottom: 0;font-size: 12px;}
    .btn:hover{
        color: #000;
    }
    #sub-footer{
        width: 100%;
        height: 50px;
    }
}

/* tablet 700px <= width < 1024px */
@media only screen and (min-width:740px) and (max-width:1024px) {
   #wrapper{
       width: 100%;
    }
    header{
        flex-direction: column;
    }
    header .logo{
        margin: 18px auto;
    }
    ul{
        justify-content: center;
        width: 100%;
    }
    ul li>a{font-size: 18px;}
    .main-box{
        flex-direction: column;
        width: 100%;
    }
    .box{width: 98%;height: 33.33%;display: flex;margin: 0 0 15px 15px;}
    .box-img{width: 50%;}
    .text-img{width: 50%;margin: auto 0;padding-left:20px;}
}